body {
    font-family: 'Karla', sans-serif;
    
}
img {
    width: 100%;
}
.haf-width {
    width: 25%;
    float: left;
    padding-left: 15%;
    margin-top: -5%;
}
.khan h1 {
    margin: 0px;
    font-size: 70px;
    color: rgb(206, 35, 35);
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
h4 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    margin-bottom: 15px;
}
p {
    font-size:  20px;
    margin-top: 50px;
}
.khan {
    margin-top: 65px;
}
.haf-width img {
    width: 650px;
}
.clixk-button {
    text-decoration: none;
    background-image: linear-gradient(#ee4167, #EC5299);
    padding: 20px 50px;
    border-radius: 7px;
    font-weight: 900;
    color: #fff;
}
.kita-jane {
    padding-top: 45px;
}

.header-bg {
    background-image: url("persional-web/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0px;
    
}
.biography-bg {
    background-image: url("persional-web/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0px;
}
.text-down {
    margin-top: 65px;
}
.latest-width {
    width: 25%;
    float: left;
    margin-left: 40px;
}
.all-margin {
    margin-left: 15%;
    margin-top:5%
}
.text-center {
    margin-left:42%;
    margin-top:150px
}
.latest-work-bg {
    background-image: url("persional-web/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: 40% 29%;
    background-size: cover;
    padding-bottom: 100px;
}
.text-alaing{
    text-align: center;
}
.what-client {
    margin-top: 120px;
    margin-bottom: 120px;
}
.Bruce-moccy {
   margin-top: 0px;
   font-size: 20px;
}
.Lorem-ipsum {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
}
.last-link {
    text-decoration: none;
    font-size: 40px;
    color: #fff;

}
.last-div {
    background-image: linear-gradient(#ee4167, #EC5299);
    width: 925px;
    height: 225px;
    border-radius: 15px;
    margin:auto;
    margin-top: 100px;
    color: #fff;
}
.footer-bg {
    background-image: url(persional-web/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-bottom: 110px;
}
.last-div p {
    padding-top: 70px;
}
footer p {
    text-align: center;
    font-size: 15px;
   padding-bottom: 10px;
}
section {
    height: 500px;
}